<div class="jumbotron">
  <h1 class="display-4 mx-auto" style = 'width:25%; text-transform: capitalize;'><%= @note.title %></h1>
  <hr class="my-4">
  <p>
    <%= @note.body %> 
  </p>

  <br />
  <br />

  <%= link_to 'Edit', edit_note_path(@note), class:'btn btn-success' %>
  <%= link_to 'Back', notes_path, class:'btn btn-secondary' %>
</div>
